/* Corps de la page */
body {
    background-image: url('images/index.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    color: white;
}

canvas {
    display: block;
}

#particlesCanvas {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    z-index: -1; 
}

/* Section principale */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 20px;
}

/* Div .game */
.game {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 500px;
    box-sizing: border-box;    
    height: 97vh;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;    

}

/* Bouton menu */
.menu-button {
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    border: 1px solid white;
    transition: background-color 0.3s ease;
}

.menu-button:hover {
    background-color: rgba(50, 50, 50, 0.9);
}

/* Compteur */
#counter, #cps {
    font-size: 40px;
    margin-bottom: 10px;
}

/* Bouton Ajouter +1 */
#compteur {
    padding: 0px 0px;
    padding-top: 100px;
    margin: 20px;
    border-radius: 10px;
    width : 275px;
    height : 275px;
	transition: transform 0.2s ease, filter 0.2s ease;
}

#compteur:active {
    transform: scale(1.1);
    filter: brightness(1.4);
}


#reset {
    padding: 5px 10px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#reset:hover {
    background-color: rgba(200, 200, 200, 0.9);
}

button {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 5px;
}

button:hover {
    background-color: rgba(200, 200, 200, 0.9);
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #444;
    color: white;
    font-size: 14px;
}

/* Section Shop */
.shop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: auto;
    margin-top: 20px;    
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 600px;
    box-sizing: border-box;
}

/* Section Building */
.building {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.building img {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

/* Tabs */
.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

/* Active Tab */
.tab-button.active {
    background-color: rgba(50, 50, 50, 0.9);
}

/* Contenu des Tabs */
.tab-content {
    display: none;
    width: 100%;
}

.tab-content.hidden {
    display: none;
}

.tab-content:not(.hidden) {
    display: block;
}

.tab-content button {
    width: 100%;
}

/* Click Shop */
.click-shop {
    position: absolute;
    top: 20px;
    left: 47%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 650px;
}

.click-shop button {
    margin: 10px;
}

.trophies {
    position: absolute;
    top: 250px;
    left: 47%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 650px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
    z-index: 10;
}

.trophy {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px 0;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
}


/* Liste des trophées */
#trophy-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

